
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GameWorld</title>
    <link href="~/css/MyCSS.css" rel="stylesheet" />
</head>

<body style="background: rgb(238, 238, 238);">
    <nav style="background: white; margin: -8px; padding: 0px;">
        <a href="\Main\Auth" id="LogInBtnLink">
            <div id="LogInBtn">Войти</div>
        </a>
        <a href="\Main\Cart" id="CartBtnLink">
            <div id="CartBtn">🛒 Корзина</div>
        </a>
        <a href="\Main\About" id="CartBtnLink">
            <div id="CartBtn">🛈 О нас</div>
        </a>
        <input type="search" name="searchBox" id="searchBox" placeholder="Поиск по сайту">
        <!-- <div class="logo">GameWorld - Игровой магазин</div><br><br> -->
        <a href="\Main\Main"><img src="~/images/11037Demo.png" class="logo"></a>
        <hr noshade size="0px" color="lightgray">
    </nav>
    <br><br><br><br>
    <aside class="assideBar">
        <a href="\Main\Main" class="sideLink">Главная</a><br>
        <a href="\Main\Catalog" class="sideLink">Каталог товаров</a>
        <a href="\Main\About" class="sideLink">О нас</a><br>
        <a href="\Main\Cart" class="sideLink">Корзина</a><br>
        <a href="\Main\Auth" class="sideLink">Войти</a><br>
        <a href="\Main\MyCabinet" class="sideLink">Личный кабинет</a><br>
    </aside>

    <div style="margin-left: 200px;">
        <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Месторасположеине офиса:</span><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.6850332973668!2d38.43746439009004!3d55.88547798878676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ad841afd5d225%3A0xacbb9ee3c035190c!2z0JzQvtC70L7QtNC10LbQvdCw0Y8g0YPQuy4sIDLQkCwg0J3QvtCz0LjQvdGB0LosINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4sIDE0MjQxMQ!5e0!3m2!1sru!2sru!4v1599630324825!5m2!1sru!2sru"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        <div style="float: right; margin-right: 130px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;">
            Адрес: Россия, Московкская обл., г. Ногинск, ул. Молодёжная, д.2А<br><br>
            Номер телефона: +89991134187<br><br>
            Эл. почта: isip_n.p.ivaschenko@mpt.ru
        </div>

    </div>
</body>

</html>