@model GameWorld.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GameWorld</title>
    <link href="~/css/MyCSS.css" rel="stylesheet" />
</head>

<body style="background: rgb(238, 238, 238);">
    <nav style="background: white; margin: -8px; padding: 0px;">
        <a href="\Main\Auth" id="LogInBtnLink">
            <div id="LogInBtn">Войти</div>
        </a>
        <a href="\Main\Cart" id="CartBtnLink">
            <div id="CartBtn">🛒 Корзина</div>
        </a>
        <a href="\Main\About" id="CartBtnLink">
            <div id="CartBtn">🛈 О нас</div>
        </a>
        <input type="search" name="searchBox" id="searchBox" placeholder="Поиск по сайту">
        <!-- <div class="logo">GameWorld - Игровой магазин</div><br><br> -->
        <a href="\Main\Main"><img src="~/images/11037Demo.png" class="logo"></a>
        <hr noshade size="0px" color="lightgray">
    </nav>
    <br><br><br><br>
    <aside class="assideBar">
        <a href="\Main\Main" class="sideLink">Главная</a><br>
        <a href="\Main\Catalog" class="sideLink">Каталог товаров</a>
        <a href="\Main\About" class="sideLink">О нас</a><br>
        <a href="\Main\Cart" class="sideLink">Корзина</a><br>
        <a href="\Main\Auth" class="sideLink">Войти</a><br>
        <a href="\Main\MyCabinet" class="sideLink">Личный кабинет</a><br>
    </aside>
    <h1 style="text-align: center; margin: 0px 150px 0px 0px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Войти</h1>
    @*<div>
            <input type="text" name="loginBox" class="centerClass" placeholder="Введите логин"><br>
            <input type="password" name="passBox" class="centerClass" placeholder="Введите пароль"><br>
            <input type="button" value="Войти" id="AuthButton"><br>
            <a href="\Main\Reg" id="RegButton">Зарегистрироваться</a><br>
            <div style="margin-right: 145px;text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                или<br>
                <a href="\Main\Recovery" id="RecoveryBtn" style="margin-left: 155px; text-align: center;">Восстановить пароль</a>
            </div>
        </div>*@

    <form asp-action="Auth" asp-controller="Main" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <input type="text" class="centerClass" placeholder="Введите логин" asp-for="User_Nickname" />
                <span asp-validation-for="User_Nickname" />
            </div>
            <div class="form-group">
                <input type="password" class="centerClass" placeholder="Введите пароль" asp-for="User_Password" />
                <span asp-validation-for="User_Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" id="AuthButton"><br>
            </div>
        </div>
    </form>
    <a href="\Main\Reg" id="RegButton">Зарегистрироваться</a><br>
    <div style="margin-right: 145px;text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        или<br>
        <a href="\Main\Recovery" id="RecoveryBtn" style="margin-left: 155px; text-align: center;">Восстановить пароль</a>
    </div>

</body>

</html>