@model IEnumerable<GameWorld.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GameWorld</title>
    <link href="~/css/MyCSS.css" rel="stylesheet" />
</head>
<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        background: white;
        margin-right: 330px;
        margin-left: auto;
    }

    tr,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        padding: 10px;
        height: 420px;
        width: 250px;
    }
</style>

<body style="background: rgb(238, 238, 238);">
    <nav style="background: white; margin: -8px; padding: 0px;">
        <a href="\Main\Auth" id="LogInBtnLink">
            <div id="LogInBtn">Войти</div>
        </a>
        <a href="\Main\Cart" id="CartBtnLink">
            <div id="CartBtn">🛒 Корзина</div>
        </a>
        <a href="\Main\About" id="CartBtnLink">
            <div id="CartBtn">🛈 О нас</div>
        </a>
        <input type="search" name="searchBox" id="searchBox" placeholder="Поиск по сайту">
        <!-- <div class="logo">GameWorld - Игровой магазин</div><br><br> -->
        <a href="\Main\Main"><img src="~/images/11037Demo.png" class="logo"></a>
        <hr noshade size="0px" color="lightgray">
    </nav>
    <br><br><br><br>
    <style>
        .FilterName {
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 0px 0px 0px 20px;
        }

        .numBox {
            width: 100px;
            border-radius: 5px;
            margin: 0px 0px 0px 10px;
            border: 1px solid gray;
        }
    </style>
    <aside class="assideBar">
        <a href="\Main\Main" class="sideLink">Главная</a><br>
        <a href="\Main\Catalog" class="sideLink">Каталог товаров</a><br>
        <a href="\Main\About" class="sideLink">О нас</a><br>
        <a href="\Main\Cart" class="sideLink">Корзина</a><br>
        <a href="\Main\Auth" class="sideLink">Войти</a><br>
        <a href="\Main\MyCabinet" class="sideLink">Личный кабинет</a><br>
    </aside>
    <aside class="assideBar Filterbar">
        <div class="FilterName" style="margin-left: 60px;">Фильтры</div>
        <hr>
        <div class="FilterName">Цена</div><br>
        <input type="number" class="numBox" placeholder="От" min="0"> <input type="number" class="numBox"
                                                                             placeholder="До" max="6000000">
        <hr>
        <div class="FilterName">Консоль</div><br>
        <input type="checkbox" id="PS4"><label for="PS4">PS4</label><br>
        <input type="checkbox" id="XO"><label for="XO">XBox One</label><br>
        <input type="checkbox" id="NS"><label for="NS">Nintendo Switch</label><br>
        <hr>
    </aside>
    <div id="MostPopular"> Все товары</div>
    <table style="margin-bottom: 100px;">
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    <a href="#" class="productName" style="color: blue;">
                        @item.Product_Title
                    </a><br>
                    <div class="productPrice">@item.Product_Price руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
            </tr>
        }
        @*<tr>
                <td>
                    <a href="#" class="productName" style="color: blue;">
                        <img src="~/images/PS5-image.jpg"><br>
                        PlayStation 5: Digital Edition
                    </a><br>
                    <div class="productPrice">37990 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
                <td>
                    <a href="#" class="productName" style="color: green;">
                        <img src="~/images/XSex-image.jpg"><br>
                        Xbox Series X
                    </a><br>
                    <div class="productPrice">45590 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
                <td>
                    <a href="#" class="productName" style="color: crimson;">
                        <img src="~/images/NSwitch-image.jpg"><br>
                        Nintendo Switch
                    </a><br>
                    <div class="productPrice">22990 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="productName" style="color: blue;">
                        <img src="~/images/PS4Bundle-image.jpg"><br>
                        PlayStation 4 1TB GTS/HZD/SpiderM/PS+ 3мес.
                    </a><br>
                    <div class="productPrice">29 990 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
                <td>
                    <a href="#" class="productName" style="color: green;">
                        <img src="~/images/XOneBundle-image.jpg"><br>
                        Xbox One Microsoft S 1TB + Forza Horizon 4 + LEGO Speed Champions
                    </a><br>
                    <div class="productPrice">23 990 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
                <td>
                    <a href="#" class="productName" style="color: crimson;">
                        <img src="~/images/NSwitchLite-image.jpg"><br>
                        Nintendo Switch Lite желтый
                    </a><br>
                    <div class="productPrice">16990 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="productName" style="color: blue;">
                        <img src="~/images/FF-image.jpg"><br>
                        Final Fantasy VII Remake
                    </a><br>
                    <div class="productPrice">4490 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
                <td>
                    <a href="#" class="productName" style="color: blue;">
                        <img src="~/images/BB-image.jpg"><br>
                        Bloodborne. Хиты PlayStation
                    </a><br>
                    <div class="productPrice">1350 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
                <td>
                    <a href="#" class="productName" style="color: blue;">
                        <img src="~/images/MediEvil-image.jpg"><br>
                        MediEvil
                    </a><br>
                    <div class="productPrice">1990 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="productName" style="color: blue;">
                        <img src="~/images/Danganronpa-image.jpg"><br>
                        Danganronpa Trilogy (Трилогия)
                    </a><br>
                    <div class="productPrice">3650 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
                <td>
                    <a href="#" class="productName" style="color: green;">
                        <img src="~/images/Forza-image.jpg"><br>
                        Forza Horizon 4
                    </a><br>
                    <div class="productPrice">3990 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
                <td>
                    <a href="#" class="productName" style="color: crimson;">
                        <img src="~/images/Animal-image.jpg"><br>
                        Animal Crossing: New Horizons
                    </a><br>
                    <div class="productPrice">3 749 руб.</div>
                    <input type="button" value="Купить" class="BuyBtn">
                </td>
            </tr>*@
    </table>
    </div>
</body>

</html>