@model GameWorld.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GameWorld</title>
    <link href="~/css/MyCSS.css" rel="stylesheet" />
</head>

<body style="background: rgb(238, 238, 238);">
    <nav style="background: white; margin: -8px; padding: 0px;">
        <a href="\Main\Auth" id="LogInBtnLink">
            <div id="LogInBtn">Войти</div>
        </a>
        <a href="\Main\Cart" id="CartBtnLink">
            <div id="CartBtn">🛒 Корзина</div>
        </a>
        <a href="\Main\About" id="CartBtnLink">
            <div id="CartBtn">🛈 О нас</div>
        </a>
        <input type="search" name="searchBox" id="searchBox" placeholder="Поиск по сайту">
        <!-- <div class="logo">GameWorld - Игровой магазин</div><br><br> -->
        <a href="\Main\Main"><img src="~/images/11037Demo.png" class="logo"></a>
        <hr noshade size="0px" color="lightgray">
    </nav>
    <br><br><br><br>
    <aside class="assideBar">
        <a href="\Main\Main" class="sideLink">Главная</a><br>
        <a href="\Main\Catalog" class="sideLink">Каталог товаров</a>
        <a href="\Main\About" class="sideLink">О нас</a><br>
        <a href="\Main\Cart" class="sideLink">Корзина</a><br>
        <a href="\Main\Auth" class="sideLink">Войти</a><br>
        <a href="\Main\MyCabinet" class="sideLink">Личный кабинет</a><br>
    </aside>
    <h1 style="text-align: center; margin: 0px 150px 0px 0px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Зарегистрироваться</h1>
    @*<form method="post">
            <div style="margin: auto; width: 100%;">
                <div>
                    <input asp-for="Nickname" type="text" name="loginBox" class="centerClass" placeholder="Введите логин">
                    <span asp-validation-for="Nickname"></span>
                </div>

                <div>
                    <input asp-for="Password" type="password" name="passBox" class="centerClass" placeholder="Введите пароль">
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <input asp-for="Email" type="email" name="emailBox" class="centerClass" placeholder="Введите email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div>
                    <input asp-for="Date_Of_Birth" type="text" name="dateBox" class="centerClass" placeholder="Введите дату рождеиня">
                    <span asp-validation-for="Date_Of_Birth"></span>
                </div>
                <div>
                    <a href="\Main\Auth"><input type="submit" value="Зарегистрироваться" id="RegRegButton"></a><br>
                </div>
            </div>
        </form>*@


<form asp-antiforgery="true" asp-action="Reg" asp-controller="Main">
    <input type="hidden" asp-for="ID_User" />
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <input type="text" class="centerClass" asp-for="User_Nickname" placeholder="Введите логин" />
            <span asp-validation-for="User_Nickname"></span>
        </div>
        <div>
            <input type="email" class="centerClass" asp-for="User_Email" placeholder="Введите email" />
            <span asp-validation-for="User_Email"></span>
        </div>
        <div>
            <input type="password" class="centerClass" asp-for="User_Password" placeholder="Введите пароль" />
            <span asp-validation-for="User_Password"></span>
        </div>
        <div>
            <input class="centerClass" asp-for="User_Year_Of_Birth" placeholder="Введите дату рождеиня" />
            <span asp-validation-for="User_Year_Of_Birth"></span>
        </div>
        <div>
            <a href="\Main\Auth"><input type="submit" value="Зарегистрироваться" id="RegRegButton"></a><br>
        </div>
    </div>
</form>

    @section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</body>

</html>